###### if need nextjs env variables, please add them here or ENV_FILE, ENV_FILE_NGINX 을 통째로 깃헙 시크릿에 넣어주세요
ENV_FILE=
ENV_FILE_NGINX=
ENV_FILE_WORKER=

OCI_USERNAME=
OCI_AUTH_TOKEN=

SSH_HOST=
SSH_PRIVATE_KEY=
-----BEGIN OPENSSH PRIVATE KEY-----
...
-----END OPENSSH PRIVATE KEY-----

SLACK_WEBHOOK_URL=